/*
 *
 *
 *
 *
 *
 */


html, body {
	height: 100%;
}


h4 {
 	color: #ff0000;
 	font-weight: normal;
 	font-style: italic;
 	font-size: 9pt;
 	margin: 0px;
 	padding: 0px;
 	display: inline;
}


.navbar-uo {
	background-color: #154733; 
	border-radius: 0px;
	margin-bottom: 20px;
}


.form-div {
	margin-top: 30px;
}


@media (min-width: 768px) {
	.form-button-column {
		text-align: right;
		padding-top: 78px;
	}
}

@media (max-width: 768px) {
	.form-button-column {
		text-align: center;
	}
}

.submit-button {
	background-color: #047832; 
	border-color: #047832;
}

.info-div {
	border-left-style: solid; 
	border-width: 1px; 
	border-color: #E5E5E5;
	/*padding-top: 20px;*/
}


.info-box {
	padding-right: 10px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	/*background-color: #E5E4E2;*/
}

.info-content {
	padding-right: 10px;
	padding-left: 20px;
}

@media (min-width: 768px) {
	.info-buttons {
		text-align: right;
		padding-right: 20px;
	}
}

@media (max-width: 768px) {
	.info-buttons {
		text-align: center;
	}
}


.database-div {
	margin-left: 5px;
	margin-right: 5px;
}

@media (min-width: 768px) {
	.database-table {
		table-layout: fixed;
	}

	.database-table td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}