/*
 *
 *
 *
 *
 *
 */

.navbar {
	border-radius: 0px;
}


html, body {
	height: 100%;
}


h4 {
 	color: #ff0000;
 	font-weight: normal;
 	font-style: italic;
 	font-size: 9pt;
 	margin: 0px;
 	padding: 0px;
 	display: inline;
 }


.vcenter {
    display: inline;
    vertical-align: bottom;
}


.navbar-uo {
	background-color: #154733; 
	margin-bottom: 40px;
}


.database-row {
	margin-left: 5px;
	margin-right: 5px;
}

.pair-info {
	padding-right: 10px;
	padding-left: 20px;
}


.info-box {
	padding-right: 5px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	/*background-color: #E5E4E2;*/
}