html, body {
	height: 100%;
}


h4 {
 	color: #ff0000;
 	font-weight: normal;
 	font-style: italic;
 	font-size: 10pt;
 	margin: 0px;
 	padding: 0px;
 	display: inline;
}

h4.error {
	font-size: 12pt;
	font-weight: 600;
	font-style: normal;
}

h3 {
	font-weight: 600;
	font-size: 12pt;
}


h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 12pt;
	display: inline;
	line-height: inherit;
}


.navbar-uo {
	background-color: #154733; 
	border-radius: 0px;
	margin-bottom: 20px;
}

.nav-logo {
	height: 50px;
	vertical-align: center;
}

.nav-title {
	font-weight: 600;
	font-style: normal;
	display: inline;
	font-size: 18pt;
	color: white;
	height: 50px;
	padding-top: 5px;
}

.nav-link {
	color: #ffffff;
	display: inline;
	padding-top: 25px;
}


.form-div {
	margin-top: 0px;
}


@media (min-width: 768px) {
	.form-button-column {
		text-align: right;
		padding-top: 78px;
	}
}

@media (max-width: 768px) {
	.form-button-column {
		text-align: center;
	}
}


.disabled-option {
	color: grey;
	/*text-decoration: line-through;*/
}


.submit-button {
	background-color: #047832; 
	border-color: #047832;
}

.info-div {
	border-left-style: solid; 
	border-width: 1px; 
	border-color: #E5E5E5;
}


.info-box {
	padding-right: 10px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.info-content {
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
}

.info-p {
	padding-bottom: 0px;
}

@media (min-width: 768px) {
	.info-buttons {
		text-align: right;
		padding-right: 20px;
	}
}

@media (max-width: 768px) {
	.info-buttons {
		text-align: center;
	}
}


.database-div {
	margin-left: 5px;
	margin-right: 5px;
}

@media (min-width: 768px) {
	.database-table {
		table-layout: fixed;
	}

	.database-table td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


.modal-box {
	padding-left: 20px;
	padding-top: 10px;
}

.modal-buttons {
	padding-top: 10px;
	text-align: right;
}